    .category_a{
    margin-right: 30px;
    color: #008dff;
    padding: 10px;
    }
    .category_a:hover{
      color: #f00;
    }
    .example {
        display: flex;
        padding: 30px;
        justify-content: center;
        align-items: center;
        height: 480px;
    }